@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@300;400;500;600;700&display=swap');

// FONTS
$header-1: normal 400 64px 'Audiowide', sans-serif;
$header-2: normal 400 48px 'Audiowide', sans-serif;

$body-xlarge: normal 600 32px 'Montserrat', sans-serif;
$body-large: normal 600 28px 'Montserrat', sans-serif;
$body-large-lite: normal 400 20px 'Montserrat', sans-serif;
$body: normal 600 24px 'Montserrat', sans-serif;
$body-small-bold: normal 600 20px 'Montserrat', sans-serif;
$body-small-fancy: normal 400 20px 'Audiowide', sans-serif;

$button-text: normal 600 18px 'Monteserrat', sans-serif;

// COLORS
$colors: (
  'black': #000,
  'white': #fff,
  neonPink: #f89df6,
  neonPinkShadow: #b900b5,
);

// SHAPES
$shapes: (
    'circle': circle(50% at 50% 50%),
    'pentagon': polygon(50% 0%, 100% 38%, 82% 93%, 18% 93%, 0% 38%),
    'hexagon': polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%),
    'heptagon': polygon(50% 0%, 90% 20%, 100% 60%, 75% 95%, 25% 95%, 0% 60%, 10% 20%),
    'octagon': polygon(50% 0%, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0% 50%, 15% 15%),
);

// SPACING
$vertical-padding: 128px;
$content-max-width: 850px;
$button-horizontal-padding: 24px;

// Export to JS
:export {
  @each $key, $value in $colors {
    #{unquote($key)}: $value;
  }
  @each $key, $value in $shapes {
    #{unquote($key)}: $value;
  }
}
