@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@300;400;500;600;700&display=swap');

// FONTS
$header-1: normal 400 64px 'Audiowide', sans-serif;
$header-2: normal 400 48px 'Audiowide', sans-serif;

$body-xlarge: normal 600 32px 'Montserrat', sans-serif;
$body-large: normal 600 28px 'Montserrat', sans-serif;
$body-large-lite: normal 400 20px 'Montserrat', sans-serif;
$body: normal 600 20px 'Montserrat', sans-serif;
$body-small-bold: normal 600 16px 'Montserrat', sans-serif;
$body-small-fancy: normal 400 20px 'Audiowide', sans-serif;

$button-text: normal 400 16px 'Monteserrat', sans-serif;

// COLORS
$colors: (
  'black': #000,
  'black-85': #000d,
  'white': #fff,
  'white-50': #fff7,
  'white-25': #fff3,
  'grey-bg': #d3e4ff10,
  neonPink: #f89df6,
  neonPinkShadow: #b900b5,
);

// SPACING
$vertical-padding: 128px;
$content-max-width: 850px;
$button-horizontal-padding: 24px;

$horizontal-margins: 64px;

// Export to JS
:export {
  @each $key, $value in $colors {
    #{unquote($key)}: $value;
  }
}
