@use 'variables.module' as *;
@use 'lobby.module';

* {
  text-transform: uppercase;
  margin: 0;
}

body {
  overflow-x: hidden;
  padding: 0;
  font: $body;
  background-color: map-get($colors, 'black');
}

div {
  color: map-get($colors, 'white');
}

h1 {
  font: $header-1;
}

h2 {
  font: $header-2;
}

h3 {
  font: $body-xlarge;
}

h4 {
  font: $body-large;
}

p {
  line-height: 1.6em;
}

button {
  background-color: transparent;
  font: $button-text;
  color: map-get($colors, 'white');

  // SIZING
  padding: 4px $button-horizontal-padding;
  min-height: 32px;

  // BORDER
  border: 2px solid map-get($colors, 'white');
  border-radius: 32px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
