@use 'variables.module' as *;

body {
  padding: 0;
  margin: 0;
  font: $body;
  background-color: map-get($colors, 'black');
}

div {
  color: map-get($colors, 'white');
}

h1 {
  font: $header-1;
}

h2 {
  font: $header-2;
}

h3 {
  font: $body-xlarge;
}

h4 {
  font: $body-large;
}

p {
  line-height: 1.6em;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes addPolygonSides {
    0% {
        clip-path: map-get($shapes, 'pentagon');
    }
    10% {
        clip-path: map-get($shapes, 'hexagon');
    }
    20% {
        clip-path: map-get($shapes, 'heptagon');
    }
    30% {
        clip-path: map-get($shapes, 'octagon');
    }
    40%, 100% {
        clip-path: map-get($shapes, 'circle');
    }
}

@keyframes fadeOuterPolygon {
    0%, 35% {
        background-color: #fff;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes fadeInnerPolygon {
    0%, 35% {
        background-color: #000;
    }
    100% {
        background-color: transparent;
    }
}

.circle {
    clip-path: map-get($shapes, 'circle');
}

.pentagon {
    clip-path: map-get($shapes, 'pentagon');
}

.hexagon {
    clip-path: map-get($shapes, 'hexagon');
}

.heptagon {
    clip-path: map-get($shapes, 'heptagon');
}

.octagon {
    clip-path: map-get($shapes, 'octagon');
}

.namePlate {
    position: relative;
    margin-right: 20px;
    font: $body-small-fancy;
    text-align: center;

    .polygon {
        z-index: -1;
        position: relative;
        width: 41px;
        height: 41px;
        background-color: #fff;
        transition: transform .3s ease;
    }
    .polygon-inner {
        z-index: -1;
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
        background-color: #000;
    }

    &:hover {
        max-width: 200px;
        .polygon {
            animation: addPolygonSides .3s ease forwards,
                       fadeOuterPolygon .3s ease forwards;
            transform: rotate(180deg);
        }
        .polygon-inner {
            animation: addPolygonSides .3s ease forwards,
                       fadeInnerPolygon .3s ease forwards;
        }

        .namePlate-long {
            opacity: 1;
            max-width: 200px;
        }
    }

    .namePlate-short {
        opacity: 1;
        margin-top: -41px;
        top: 0px;
        width: 41px;
        line-height: 41px;
    }
    .namePlate-long {
        opacity: 0;
        margin-top: -41px;
        line-height: 35px;
        max-width: 5px;
        padding: 0 10px;
        border: 3px solid #fff;
        border-radius: 35px;
        transition: opacity .2s linear .12s, max-width .2s ease-out .12s;
    }
}
