@use 'variables.module' as *;
@use 'mixins.module' as mixin;

// PLAYLIST VISUALIZATION + USERS BAR

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-across {
  @include mixin.centerElementsX;
}

$mobile-visual-height: 300px;
$desktop-visual-height: 650px;

$mobile-visual-width: 90vw;
$desktop-visual-width: 75vw;
$max-visual-width: 1200px;

$visual-circle-size: 310px;

#visual {
  // Responsive Properties
  width: $desktop-visual-width;
  min-height: $desktop-visual-height;
}

#caption {
  position: absolute;

  // Responsive Properties
  margin-top: calc(#{$desktop-visual-height} - 170px);
  margin-left: 75px;
}

#visual-circle {
  width: $circle-size;
  height: $circle-size;

  canvas {
    border-radius: $circle-size;
  }

  #caption {
    display: none;
  }
}

#playlist {
  padding: 100px 0;

  .song {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title {
      cursor: pointer;
    }

    .artist {
      margin-left: 10px;
      color: map-get($colors, 'white-50');
    }

    .user-container {
      display: flex;
      align-items: center;
      margin-left: auto;
      padding-left: 15px;

      .user-nameplate {
        margin-right: 15px;
      }

      .user-nameplate:last-of-type {
        margin-right: 0;
      }
    }
  }

  // Responsive Properties
  width: $desktop-visual-width;
}

#userbar {
  display: flex;
  align-items: center;
  margin: 25px;

  button {
    margin-left: auto;
  }

  // Responsive Properties
  width: calc(#{$desktop-visual-width} - 2 * 75px);
}

@include mixin.for-large-desktop-up {
  #visual,
  #playlist {
    width: $max-visual-width;
  }

  #userbar {
    width: calc(#{$max-visual-width} - 2 * 75px);
  }
}

@include mixin.for-mobile-only {
  #visual {
    width: $mobile-visual-width;
    min-height: $mobile-visual-height;
    max-height: $mobile-visual-height;
  }

  #playlist {
    width: $mobile-visual-width;
  }

  #caption {
    margin-top: calc(#{$mobile-visual-height} - 130px);
    margin-left: 10px;

    h1 {
      font-size: 40px;
    }
  }

  #userbar {
    width: calc(#{$mobile-visual-width});
  }
}

:export {
  defaultVisualWidth: $max-visual-width;
  defaultVisualHeight: $desktop-visual-height;
  circleHeightPercent: $circle-size;
}

:import('nameplate.module.scss') {
  user-nameplate: nameplate;
}
