@use 'variables.module' as *;
@use 'mixins.module' as *;

// NAMEPLATE

$nameplate-size: 40;
$nameplate-width-min: 9px;
$nameplate-width-max: 140px;
$nameplate-padding-min: 0 10px;
$nameplate-padding-max: 0 25px;

.nameplate {
  margin-right: 20px;
  font: $body-small-fancy;
  text-align: center;
  z-index: 1;

  .nameplate-container {
    width: #{$nameplate-size}px;
    height: #{$nameplate-size}px;
  }

  .nameplate-short {
    width: #{$nameplate-size}px;
    margin-top: #{-$nameplate-size}px;
    line-height: #{$nameplate-size}px;
  }

  .nameplate-long {
    max-width: $nameplate-width-min;
    display: flex;
    height: #{$nameplate-size - 6}px; // size - 2 * border-width
    line-height: #{$nameplate-size - 6}px;
    margin-top: #{-$nameplate-size}px;
    padding: $nameplate-padding-min;
    opacity: 0;
    border: 3px solid #fff;
    border-radius: #{$nameplate-size - 6}px;
  }

  .nameplate-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nameplate-button {
    margin-left: 10px;
    cursor: pointer;
  }

  &.expanded .nameplate-long {
    max-width: $nameplate-width-max !important;
    opacity: 1 !important;
    padding: $nameplate-padding-max !important;
  }

  &.expanded .nameplate-short,
  &.expanded .nameplate-container {
    opacity: 0 !important;
  }

  &.highlight svg {
    fill: map-get($colors, 'white-50');
  }

  &.highlight .nameplate-long {
    background-color: map-get($colors, 'white-50');
  }
}

// PLAYLIST VISUALIZATION + USERS BAR

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  margin-top: calc(50vh - 128px);
}

$mobile-visual-height: 300px;
$desktop-visual-height: 650px;

$mobile-visual-width: 90vw;
$desktop-visual-width: 75vw;
$max-visual-width: 1200px;

$visual-circle-size: 310px;

#visual {
  // Responsive Properties
  width: $desktop-visual-width;
  min-height: $desktop-visual-height;
}

#caption {
  position: absolute;

  // Responsive Properties
  margin-top: calc(#{$desktop-visual-height} - 170px);
  margin-left: 75px;
}

#visual-circle {
  width: $visual-circle-size;
  height: $visual-circle-size;

  canvas {
    border-radius: $visual-circle-size;
  }

  #caption {
    display: none;
  }
}

#playlist {
  padding: 100px 0;

  .song {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    h4 {
      white-space: nowrap;
      max-width: 380px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title {
      cursor: pointer;
    }

    .artist {
      margin-left: 10px;
      color: map-get($colors, 'white-50');
    }

    .user-container {
      display: flex;
      align-items: center;
      margin-left: auto;

      .nameplate {
        margin-right: 15px;
      }

      .nameplate:last-of-type {
        margin-right: 0;
      }
    }
  }

  // Responsive Properties
  width: $desktop-visual-width;
}

#userbar {
  display: flex;
  align-items: center;
  margin: 25px;

  button {
    margin-left: auto;
  }

  // Responsive Properties
  width: calc(#{$desktop-visual-width} - 2 * 75px);
}

@include for-large-desktop-up {
  #visual,
  #playlist {
    width: $max-visual-width;
  }

  #userbar {
    width: calc(#{$max-visual-width} - 2 * 75px);
  }
}

@include for-mobile-only {
  #visual {
    width: $mobile-visual-width;
    min-height: $mobile-visual-height;
    max-height: $mobile-visual-height;
  }

  #playlist {
    width: $mobile-visual-width;
  }

  #caption {
    margin-top: calc(#{$mobile-visual-height} - 130px);
    margin-left: 10px;

    h1 {
      font-size: 40px;
    }
  }

  #userbar {
    width: calc(#{$mobile-visual-width});
  }
}

:export {
  defaultVisualWidth: $max-visual-width;
  defaultVisualHeight: $desktop-visual-height;
  visualCircleSize: $visual-circle-size;
  nameplateSize: $nameplate-size;
  nameplateWidthMin: $nameplate-width-min;
  nameplateWidthMax: $nameplate-width-max;
  nameplatePaddingMin: $nameplate-padding-min;
  nameplatePaddingMax: $nameplate-padding-max;
}
