@use 'variables.module' as *;

$name-plate-size: 35;
$name-plate-width-min: 9px;
$name-plate-width-max: 120px;
$name-plate-padding-min: 0 10px;
$name-plate-padding-max: 0 25px;

.usersBar {
  width: 100%;
  padding-left: calc(100vw - 1000px);
  display: flex;
  margin: 25px;
}

.namePlate {
  margin-right: 20px;
  font: $body-small-fancy;
  text-align: center;
  z-index: 1;

  .namePlate-container {
    width: #{$name-plate-size}px;
    height: #{$name-plate-size}px;
  }

  .namePlate-short {
    width: #{$name-plate-size}px;
    margin-top: #{-$name-plate-size}px;
    line-height: #{$name-plate-size}px;
  }

  .namePlate-long {
    max-width: $name-plate-width-min;
    height: #{$name-plate-size - 6}px; // size - 2 * border-width
    line-height: #{$name-plate-size - 6}px;
    margin-top: #{-$name-plate-size}px;
    padding: $name-plate-padding-min;
    opacity: 0;
    border: 3px solid #fff;
    border-radius: #{$name-plate-size - 6}px;
  }

  &.expanded .namePlate-long {
    opacity: 1 !important;
    max-width: $name-plate-width-max !important;
    padding: $name-plate-padding-max !important;
  }

  &.expanded .namePlate-short,
  &.expanded .namePlate-container {
    opacity: 0 !important;
  }

  &.owner svg {
    fill: map-get($colors, 'white-50');
  }

  &.owner .namePlate-long {
    background-color: map-get($colors, 'translucentWhite');
  }
}

:export {
  namePlateSize: $name-plate-size;
  namePlateWidthMin: $name-plate-width-min;
  namePlateWidthMax: $name-plate-width-max;
  namePlatePaddingMin: $name-plate-padding-min;
  namePlatePaddingMax: $name-plate-padding-max;
}
