@use 'variables.module' as *;

#modal {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: calc((100vw - 350px) / 2);
  margin-top: calc((100vh - 150px) / 2);
  width: 350px;
  height: 150px;
  padding: 20px 30px;
  color: map-get($colors, 'black');
  background-color: map-get($colors, 'white');
  display: none;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 330px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: map-get($colors, 'black-50');
  display: none;

  &.show {
    display: block;
  }

  &.show ~ #modal {
    display: flex;
  }
}

#modal-header {
  color: map-get($colors, 'black');
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

#modal-footer {
  align-self: flex-end;

  button {
    color: black;
    border-color: black;
    margin-left: 10px;
  }
}
